<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hola mundo</title>
	<link rel="stylesheet" href="publicos/css/main.css">
</head>
<body>
no hay nada aqui para ver
</body>
</html>